 <div class="logo">
     <img src="../assets/images/logo.png" alt="images logo" width="100">
 </div>
 <div class="menu">
     <span></span>
     <span></span>
     <span></span>
 </div>
 <nav class="links">
     <ul  id="nav-list">
         <li><a href="#home">الرئيسية</a></li>
         <li><a href="#products">منتجاتنا</a></li>
         <li><a href="#offers">عروض خاصة</a></li>
         <li><a href="#about">عن المتجر</a></li>
         <li><a href="#testimonials">آراء العملاء</a></li>
         <li><a href="#newsletter">النشرة البريدية</a></li>
         
     </ul>
 </nav>
 <div class="login">
     <a href="../pages/login.html">sign up</a>
 </div>