<div class="logo">
	<img src="../assets/images/logo.png" alt="متجر الهدايا" width="100">
</div>
<div class="icon-navs">
	<div>
		<div id="cart"><i class="fas fa-shopping-cart me-3"></i></div>
		<section class="cart-container">
			<h2 class="section-title">سلة الشراء</h2>
			<div class="cart-header">

			</div>
			<div class="cart-total">
				الإجمالي: 556 ر.س
			</div>
			<button class="checkout-btn">الدفع الآن</button>
		</section>
		
	</div>
	<div class="menu" id="menuBtn">
		<span></span>
		<span></span>
		<span></span>
	</div>
</div>
<nav class="nav" id="navMenu">
	<ul id="nav-list">
		<li><a href="#"><i class="fas fa-home me-2"></i> الرئيسية</a></li>
		<li><a href="#"><i class="fas fa-gift me-2"></i> المنتجات</a></li>
		<li><a href="#"><i class="fas fa-percentage me-2"></i> العروض</a></li>
		<li><a href="#"><i class="fas fa-info-circle me-2"></i> عن المتجر</a></li>
		<li><a href="#"><i class="fas fa-comments me-2"></i> آراء العملاء</a></li>
		<li><a href="#"><i class="fas fa-envelope me-2"></i> النشرة البريدية</a></li>
		<li><a href="#"><i class="fas fa-shopping-cart me-2"></i> سلة الشراء</a></li>
	</ul>
	<div class="login">
		<a href="#"><i class="fas fa-user"></i> تسجيل الدخول</a>
	</div>
</nav>